*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

/* ### Site ######################################################################################################### */

cef-root {
  display: block;
  margin: 1em;

  border: dashed .1em green;

}

/* ### Project ###################################################################################################### */

ce-project-list {
  .ce-project-list {
    &__entry {
      margin: 1em 0;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin: .5em 0;
        filter: drop-shadow(1px 1px 1px grey);
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .5em;

        margin-left: 1em;

        & > span {
          min-width: max-content;
          margin-inline: 1em;
        }
      }
    }
  }

  hr {
    width: 75%;
    border-color: lightgray;
    margin-inline: auto;
  }
}

cef-project {
  display: block;
  position: relative;
  margin: 1em;

  border: dashed .1em red;

  &::after {
    content: 'Project';
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em;

    border: solid .1em red;
    border-radius: 0 0 0 .4em;

    color: white;
    background-color: red;
    opacity: .75;
  }
}

ce-project-info {
  display: block;
  position: relative;
  margin: 1em;

  border: dotted .1em red;
}

/* ### Registration ################################################################################################# */

ce-registration-list {
  .ce-registration-list {
    &__entry {
      margin: 1em 0;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin: .5em 0;
        filter: drop-shadow(1px 1px 1px grey);
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: .5em;

        margin-left: 1em;

        & > span {
          min-width: max-content;
          margin-inline: 1em;
        }
      }
    }
  }

  hr {
    width: 75%;
    border-color: lightgray;
    margin-inline: auto;
  }
}

ce-registration-info {
  display: block;
  position: relative;
  margin: 1em;

  border: dotted .1em blue;

  &::after {
    content: 'Registration';
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em;

    border: solid .1em blue;
    border-radius: 0 0 0 .4em;

    color: white;
    background-color: blue;
    opacity: .75;
  }
}
