*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  min-height: 100vh;

  & > header,
  & > footer {
    text-align: center;
    z-index: 999;
    position: sticky;
    left: 0;

    border: solid 1px lightgray;
    padding: clamp(1em, 3vw, 2em) 0;

    display: block;
    //opacity: .95;
    backdrop-filter: blur(.5em);
    //filter: blur(.05em);
  }

  & > header {
    top: 0;
  }

  & > main {
    flex-grow: 1;
  }

  & > footer {
    bottom: 0;
  }
}

h1 {
  filter: drop-shadow(.1rem .1rem .1rem grey);
}
h2 {
  filter: drop-shadow(.1rem .1rem .1rem grey);
}
h3, h4 {
  filter: drop-shadow(.1rem .1rem .1rem grey);
}

.card {
  display: block;

  margin: 1em;
  padding: 1.5em;

  border: solid 1px lightgray;
  border-radius: .5em;
  box-shadow: 0 0 16px 0 lightgray;

  &--clickable {
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out,
    transform 300ms linear,
    filter 300ms linear;
    filter: saturate(.5);

    &:active {
      filter: saturate(1);
    }

    &:hover,
    &:active {
      transform: scale3d(1.01, 1.01, 1.01);
      box-shadow: 0 0 16px 4px lighten(lightgrey, 2);
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
    margin: .5em 0;
  }

  &__icon {
    font-size: clamp(2rem, 6vw, 4rem);
    overflow: visible;
  }

  &__headline {
    font-size: clamp(1.25rem, 6vw, 2rem);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5em;

    margin-left: 1em;

    & > span {
      margin-inline: 1em;
    }
  }

  &__content {
    margin-top: 2em;
  }

  &__separator {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline: auto;
    border: solid 1px lightgray;
  }

  &__headline,
  &__tags > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

/* ### Site ######################################################################################################### */

cef-root {
  display: block;
  max-width: 120ch;
  margin-inline: auto;
}

/* ### Project ###################################################################################################### */

/* ### Registration ################################################################################################# */

